html {
  padding :0;
}
body{
  display: flex;
  flex-wrap:wrap ;
  padding: 0;
  margin: 0;
}
header{
  flex-basis: 100%;
  padding:0;
  margin: 0;
}
section{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer{
  flex-basis: 100%;
}
h1{
  margin-top: 5%;
  margin-bottom: 0%;
  flex-basis: 100%;
}

header>img {
  width: 99vw;
  height: 500px;
  margin: 0;
}


li a {
  display: block;
}
.ul{
  display: flex;
  padding-left: 0;
}
nav{
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  margin: auto;
}
