html {
  padding :0;
}
body{
  display: flex;
  flex-wrap:wrap ;
  padding: 0;
  margin: 0;
}
header{
  flex-basis: 100%;
  padding:0;
  margin: 0;
}

footer{
  flex-basis: 100%;
}

header>img {
  width: 99vw;
  height: 500px;
  margin: 0px;
}


li a {
  display: block;
}
.ul{
  display: flex;
  padding-left: 0px;
}
th,td{
  padding: 0.5em;
}
nav{
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  margin: auto;
}