html {
  padding :0;
}
body{
  display: flex;
  flex-wrap:wrap ;
  padding: 0;
  margin: 0;
}
header{
  flex-basis: 100%;
  padding:0;
  margin: 0;
}
main{
  align-items: stretch;
  display:flex;
  flex-basis: 100%;
}
div{
  flex-basis: 50%;
  flex-grow:1;
}
nav{
  border-radius: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  margin: auto;
}
.perso{
  display: flex;
}
aside{
  flex-basis: 15%;
  padding-left: 40px;
  margin-bottom: 40%;
  border-radius: 1.6vw;
  padding-top: 1.6vw;
  padding-bottom: 1.6vw;
  height:max-content ;
}
h1{
  flex-basis:100%;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1.6vw;
}
footer{
  flex-basis: 100%;
}
header>img {
  width: 99vw;
  height: 500px;
  margin: 0px;
}
img{
  width: auto ;
  height: 20vw;
  margin-right: 0.4vw;
  margin-top: 0.4vw;
}
li {
  flex-grow:1 ;
}
#reseaux{
  padding-left:0 ;
}

.ul{
  display: flex;
  padding-left: 0;
}
a>img {
  width: 1em;
  height: auto;
}