body {
  background-color: white;
}
h1{
  border: solid 1px black;
}

li{

  list-style-type: none;
  text-align: center;
  text-decoration: underline white;
}
h3{
  color: white;
  text-decoration: underline white;
}
nav{
  background-color: black;
  box-shadow: 0 10px 40px black;
}

footer{
  border: solid 1px black;
}
p{
  color: black;
}
h1,h2{
  color: black;
}
a{
  text-decoration: none;
  color: white;
}
aside {
  background-color: black;
  border: 1px solid black;
  box-shadow: 0 10px 40px black;
}

aside p{
  color: white;
}
