body {
  background-color: white;
}


li{

  list-style-type: none;
  flex-grow:1 ;
  text-align: center;

}

h1,h2 {
  color: black;
  text-decoration: underline black
}
footer{
  border: solid 1px black;
}


a{
  text-decoration: none;
  color: white;
  text-decoration: underline white;
}
nav{
    background-color: black;
    box-shadow: 0 10px 40px black;
    }
p{
  color: black;
}
h2{
  font-size: 1em;
}

caption{
  text-align: left;
}

td, th{
  text-align: center;
  border: 3px solid;
}
caption{
  color: black;
  text-decoration: underline red 2px;
  font-size: 400%;
  font-style: oblique;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
th{
  color: black;
  text-decoration: underline red 2px;
}

