body {
  background-color: white;
}
header li{
  list-style-type: none;
  flex-grow: 1 ;
  text-align: center;
}

li{
  list-style-type: none;
}
h1,h2 {
  color: rgb(197, 82, 82);
  text-decoration: underline rgb(53, 41, 41);
  font-size: 400%;
  font-style: oblique;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
footer{
  border: solid 1px black;
}
a{
  text-decoration: none;
  color: white;
  text-decoration: underline white;
}
nav{
    background-color: black;
    box-shadow: 0 10px 40px black; 
}
li>p{
  color: black;
  text-align: center;
}